@{
    ViewData["Title"] = "Home Page";
}
<head>
<link rel="stylesheet"href="~/js/timer.js" />
    <link rel="stylesheet" href=~/css/EventStyle.css>
</head>
<div class="text-center">
    <h1 class="display-4">Welcome to FCIT Event Finder</h1>


    <a href="https://x.com/FCITKAU">
        <img src=~/css/FCIT_Logo.png alt="FCIT Logo"
             style="display: block; margin-left: auto; margin-right: auto; width: 250px; border-radius: 200px; border-style:double;">
    </a>

    <nav class="the-href-pages" style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
        <label style="color:rgb(255, 255, 255); font-size: 20px;">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact" style="color: white;">Contact</a>
        </label>
        </nav>

    <p style=" text-align: center; margin-top: 20px; margin-bottom: 20px;">
        Seconds you have spent viewing this page
        so far: <strong id="soFar">0</strong>
    </p>

    <details>
        <summary style="text-align: left; font-size: 20px;" name="AboutUs"> About Us </summary>
        <p style=" text-align: left; margin-top: 10px; margin-bottom: 10px; font-size: medium;">
            FCIT Event Finder is a student project made for the CPIS358 <strong>
                (Internet Applications and Web
                Programming course.)
            </strong>
            The goal of this project is to help FCIT students find all faculty events in one place instead of
            searching through WhatsApp groups and social media posts.
            <br /> <br />
            We built this website to make things easier. It collects events, shows clear details, and helps students
            know what is happening inside the faculty. Whether it's workshops, club activities, or competitions, the
            website makes it simple to find and follow events.
            <br /> <br />
            This project is created by FCIT students, for FCIT students easy to use, organized, and useful.


        </p>
</div>
