/* basic page style */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
 background-color: #074b2b;
  color: #ffffff;
}

/* header */
.main-header {
  background-color: #000000;
  padding: 15px 20px;
  text-align: center;
  position: relative;
}

.main-header h1 {
  margin: 0;
  font-size: 22px;
}

/* login / register links */
.main-header nav {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.main-header nav a {
  margin-left: 10px;
  text-decoration: none;
  font-size: 14px;
}

/* events area */




/* add event section */
#addEventSection {
  text-align: center;
  margin: 30px 0 40px;
}

#addBtn {
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
}

.linkcolors {
  color: #ffffff;
  text-decoration: none;
}

#eventsTable {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    
}

#eventsTable th {
    border: 1px solid white;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    
}

#eventsTable td {
    border: 1px solid white;
    padding: 8px;
    font-size: 16px;
    text-align: center;
    color: #fefcfc;
}

